body {
	background-image: url(./assets/dyes1.jpg);
	background-size: 100%;
	/* background-repeat: no-repeat; */
}
.App {
	padding: 0 auto;
	margin-top: 3.5rem;
	text-align: center;
	/* background-color: whitesmoke; */
}
header {
	width: 50%;
	margin: 0 auto;
	margin-bottom: 2rem;
}
nav ul {
	display: flex;
	justify-content: space-around;
	text-decoration: none;
	list-style: none;
}
a {
	text-decoration: none;
}
main {
	width: 50%;
	height: 82vh;
	margin: 0 auto;
	background-color: whitesmoke;
	border: 1px solid rgb(172, 172, 172);
	border-radius: 30px;
	display: grid;
	grid-template-rows: 3fr 1fr;
	-webkit-box-shadow: 2px 11px 26px -2px rgba(0, 0, 0, 0.67);
	box-shadow: 2px 11px 26px -2px rgba(0, 0, 0, 0.67);
}

.image-container {
	padding-top: 3rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
	text-align: center;
}
.image-container img {
	width: 100%;
	border-radius: 0 0 20px 20px;
	-webkit-box-shadow: 2px 11px 26px -2px rgba(0, 0, 0, 0.67);
	box-shadow: 2px 11px 26px -2px rgba(0, 0, 0, 0.67);
	max-height: 30rem;
}
.slideshow {
	width: 100% !important;
	border-radius: 0 0 20px 20px !important;
	-webkit-box-shadow: 2px 11px 26px -2px rgba(0, 0, 0, 0.67) !important;
	box-shadow: 2px 11px 26px -2px rgba(0, 0, 0, 0.67) !important;
	max-height: 30rem !important;
}
.image-description {
	padding: 3rem 5rem;
	font-size: 1.2rem;
	text-align: justify;
}
.button-shadow {
	-webkit-box-shadow: 2px 11px 26px -2px rgba(0, 0, 0, 0.67);
	box-shadow: 2px 11px 26px -2px rgba(0, 0, 0, 0.67);
}

@media only screen and (max-width: 1500px) {
	main {
		width: 70%;
	}
}
@media only screen and (max-width: 1070px) {
	main {
		width: 90%;
	}
}

@media only screen and (max-width: 830px) {
	main {
		width: 98%;
		margin-bottom: 2rem;
		height: 100vh;
	}
	body {
		min-width: 750px;
		background-clip: content-box;
		background-size: cover;
		height: 100%;
		background-position: center;
	}
}
