body {
	background-image: url(./assets/dyes1.jpg);
	background-size: 100%;
	/* background-repeat: no-repeat; */
}
.App {
	padding: 0 auto;
	margin-top: 10%;
	text-align: center;
	/* background-color: whitesmoke; */
}
header {
	width: 60%;
	margin: 0 auto;
}
nav ul {
	display: flex;
	text-decoration: none;
	list-style: none;
}
a {
	text-decoration: none;
}
main {
	width: 60%;
	height: 50vh;
	margin: 0 auto;
	background-color: whitesmoke;
	border: 1px solid black;
	border-radius: 15px;
}
